.nav-item.active .nav-link{
    background-color: #0a6ebd !important; /* Couleur de fond que tu veux */
    #background-color: #4caf4f !important; /* Couleur de fond que tu veux */
}
.sidebar {
    background-color: #0a6ebd;
    color: white;
}

/* Ajouter dans votre CSS */
[dir="rtl"] {
    direction: rtl;
    text-align: right;
}

[dir="rtl"] .sidebar {
    right: 0;
    left: auto;
}

[dir="rtl"] .main-panel {
    margin-right: 260px;
    margin-left: 0;
}

[dir="rtl"] .navbar-nav {
    padding-left: 35px;
    padding-right: 50px;
}

